.header-all {
  width: auto;
}

header {
  background-color: #3cb371;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  padding-right: 30px;
}

h2 {
  font-size: 30px;
  margin-right: auto;
  padding-left: 70px;
}

.bbs {
  color: white;
}

.bbs:hover {
  color: white;
}

.post {
  color: white;
}

.post:hover {
  color: white;
}
